@use "sass:color";
@use "sass:map"; // para reemplazar funciones globales
// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Colors
$primary-c: #dad9df;
$text-c: color.adjust($primary-c, $lightness: -50%);

//Spacig
$mqMinWidth: 420px;
$gap: 1rem;
$columns: 4;

//Grid
$columns-default: 4;  // Número de columnas por defecto
$columns-tablet: 3;   // Número de columnas en tablet
$columns-mobile: 2;   // Número de columnas en dispositivos pequeños
$columns-mobile-single: 1; // Número de columnas en dispositivos móviles

//Functions
$breakpoints: (
  "desktop": 1200px,
  "tablet": 900px,
  "mobile": 600px
);

@function breakpoint($device) {
  @return map.get($breakpoints, $device);
}

//Responsive grid
@mixin responsive-grid($columns-default, $columns-tablet, $columns-mobile, $columns-mobile-single) {
  gap: 1rem;
  grid-template-columns: repeat($columns-default, 1fr);  // Empieza con las columnas por defecto
    
  @media (max-width: breakpoint("desktop")) { // 1200px
    grid-template-columns: repeat($columns-tablet, 1fr);  // 3 columnas en tablet
  }

  @media (max-width: breakpoint("tablet")) { // 900px
    grid-template-columns: repeat($columns-mobile, 1fr);  // 2 columnas en pantallas más pequeñas
    padding: 0;
  }

  @media (max-width: breakpoint("mobile")) { // 600px
    grid-template-columns: repeat($columns-mobile-single, 1fr);  // 1 columna en dispositivos móviles
  }
}